<html>
<head>
</head>
<body>
    <ul class="nav">
        <li class="active"><a href="index.html">Inicio</a></li>
        <li><a href="Datos_Geofísicos.html">Datos Geofísicos</a></li>
        <li><a href="Miembros.html">Miembros</a></li>
        <li><a href="gallery.html">Cómo citar</a></li>
        <li><a href="publications.html">Condiciones de uso</a></li>
        <li><a href="news.html">News DSDS</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="contact.html">Contact</a></li>
     </ul>
</body>
</html>