<html>

</html>

<head>
</head>

<body>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span5">
                    <h3>Contáctanos</h3>
                    <p><b>Correo: <a href="mailto:sigac@uis.edu.co">sigac@uis.edu.co</a></p>
                    <p><b>Instagram: <a href="https://www.instagram.com/sigacuis/mailto:sigac@uis.edu.co">@sigacuis</a></b></p>
                    <p><b>LinkedIn: <a href="https://www.linkedin.com/company/sigac/posts/?feedView=all">Semillero de Investigación en Geofísica Aplicada - SIGAC</a></b></p>
                </div>
                <div class="span2">
                    <img src="../thumbs/logoSigacf.png" class="logosigac" alt="sigac-logo" /></a>
                </div>
                <div class="span5">
                    <h3>Dirección</h3>
                    <p>Universidad Industrial de Santander<br>
                        Carrera 27 Calle 9<br>
                        Bucaramanga, Santander<br>
                        +57 (607) 634 4000
                    </p>
                    <a href="https://maps.app.goo.gl/zvb8aHQZxwPLG5gk6">Ver mapa</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>