<html>

</html>

<head>
</head>

<body>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span5">
                    <h3>Contáctenos</h3>
                    <p><b>Correo: </b>sigac@uis.edu.co</p>
                    <p><b>Instagram: </b>sigacuis</p>
                    <p><b>Cell: </b>999-999-9999</p>
                    <a href="mailto:sigac@uis.edu.co">Correo</a>
                </div>
                <div class="span2">
                    <a href="https://www.instagram.com/sigacuis/"><img src="../thumbs/logoSigacf.png" class="logosigac" alt="sigac-logo" /></a>
               
                </div>
                <div class="span5">
                    <h3>Dirección</h3>
                    <p>Universidad Industrial de Santander<br>
                        Carrera 27 Calle 9<br>
                        Bucaramanga, Santander<br>
                        +57 (607) 634 4000
                    </p>
                    <a href="https://maps.app.goo.gl/zvb8aHQZxwPLG5gk6">Ver mapa</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>